.cover__link {
    padding: 218px 312px;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    white-space: pre-line;
    text-align: center;
    background-image: url(../../../images/train.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.cover__link:hover::after {
    opacity: 0.8;
}

@media (max-width: 1130px) {
    .cover__link {
        padding: 168px 232px;
    }
}

@media (max-width: 970px) {
    .cover__link {
        padding: 88px 104px;
    }
}

@media (max-width: 715px) {
    .cover__link {
        padding: 6px 16px;
    }
}