.footer__links {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    gap: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 740px) {
    .footer__links {
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: repeat(5, minmax(min-content, max-content));
        gap: 32px;
        margin-bottom: 48px;
    }
}