.intro__text {
    min-width: 288px;
    max-width: 690px;
    font-size: 16px;
    line-height: 163%;
    margin: 40px 0 33px;
}

@media (max-width: 320px) {
    .intro__text {
        margin: 40px 0 34px;
    }
}